<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST"> 
        {%csrf_token%}
            <input type="email" name="email" placeholder="e-mail">
            <input type="password" name="password" placeholder="hasło">
            <input  type="submit" value="Zaloguj">
    </form>
    <div id="messages">  
                
        {%for i in error_list%}
            <label>{{i}}</label>
        {%endfor%}

    </div>
</body>