{% extends "base.html" %}
  
{%block title%}<title>Kajo-mail Logowanie</title>{%endblock title%}
</head> 
{% block content %}
<body>
    <div class="form-content">
        <div class="form">
            <span class="title">Logowanie</span>
            <form method="POST"> 
                {%csrf_token%}
                    <input type="email" name="email" placeholder="e-mail" class="filed">
                    <input type="password" name="password" placeholder="hasło" class="filed">
                    <input type="submit" value="Zaloguj" class="bt-submit">
            </form>
            <p class="having-account">Nie masz konta? <a href="{%url 'register_page'%}">Zarejestruj się </a></p>
            <div id="messages">                 
                {%for i in error_list%}
                    <label>{{i}}</label>
                {%endfor%}
            </div>
        </div>
    </div>
</body>
{% endblock content %}