{% extends "base.html" %}
  
{%block title%}<title>Kajo-mail Rejestracja</title>{%endblock title%}
</head> 
{% block content %}
<body>
    <div class="form-content">
        <div class="form">
            <span class="title">Rejestracja</span>
            <form method="post">
                {%csrf_token%}
                <input type="email" name="email" placeholder="e-mail" class="filed">
                <input type="text" name="firstname" placeholder="imie" class="filed">
                <input type="text" name="lastname" placeholder="nazwisko" class="filed">
                <input type="password" name="password1" placeholder="hasło" class="filed">
                <input type="password" name="password2" placeholder="powtórz hasło" class="filed">
                <input type="submit" value="Zarejestruj" class="bt-submit">
            </form>
            <div id="messages">                
                {%for i in error_list%}
                    <label>{{i}}</label>
                {%endfor%}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}